# @DOC: This file should contain all environmental variables used by the application, build-time and start-time.

## The network interface Nuxt will listen to.
## Value 0.0.0.0 will make Nuxt listen to all interfaces.
HOST=0.0.0.0

## The port Nuxt will listen to.
PORT=3000

## Nuxt mode (true or false).
NUXT_SSR=false

## Relative base url for app
APP_BASE_URL=/

## Absolute or relative base url for API
#API_BASE_URL=https://petstore3.swagger.io/api/v3
#API_BROWSER_BASE_URL=
